---
layout: default
---

<div class="main-content archive-page clearfix">
    <div class="categorys-item">
        <div class="post-lists">
            <div class="post-lists-body">
                {% for post in site.posts %}
                {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
                {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
                {% capture next_year %}{{ post.next.date | date: "%Y" }}{% endcapture %}
                {% capture next_month %}{{ post.next.date | date: "%B" }}{% endcapture %}

                {% if this_month != next_month or this_year != next_year %}
                <div class="categorys-title">{{ this_month }} {{ this_year }}</div>
                {% endif %}

                <div class="post-list-item">
                    <div class="post-list-item-container">
                        <div class="item-label">
                            <div class="item-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
                            <div class="item-meta clearfix">
                                <div class="item-meta-date"> {{ post.date | date: "%b %d, %Y" }} </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
		
		<nav>
        <ul>
            <li><i class="fa fa-paper-plane-o"></i></li>
			<!--get the nav links in  _config.yml -->
			{% for link in site.nav %}
			<li><a href="{{ site.baseurl }}{{ link[1]}}">{{ link[0] }}</a></li>
			{% endfor %}
        </ul>
    </nav>

    {% if page.previous %}
    <a id="oldPostBtn" class="btn nav-button" href="{{ site.baseurl }}{{ page.previous.url }}" title="上一篇"><i class="btn fa fa-3x fa-angle-left"></i></a>
    {% endif %}

    {% if page.next %}
    <a id="nextPostBtn" class="btn nav-button" href="{{ site.baseurl }}{{ page.next.url }}" title="下一篇"><i class="btn fa fa-3x fa-angle-right"></i></a>
    {% endif %}

    </div>
</div>